<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{% url 'dashboard:citizen_dashboard' %}">
            <i class="fa-solid fa-city me-1"></i> Nagar Nirvana
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'citizen_dashboard' %}active{% endif %}"
                       href="{% url 'dashboard:citizen_dashboard' %}">
                        <i class="fa-solid fa-house me-1"></i> Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'submit_complaint' %}active{% endif %}"
                       href="{% url 'complaints:submit_complaint' %}">
                        <i class="fa-solid fa-pen-to-square me-1"></i> New Complaint
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'complaints:list' %}">
                        <i class="fa-solid fa-list-check me-1"></i> My Complaints
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-map-location-dot me-1"></i> Map
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-user-circle me-1"></i> {{ request.user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user me-2"></i>Profile</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item text-danger" href="{% url 'accounts:logout' %}">
                                <i class="fa-solid fa-right-from-bracket me-2"></i>Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
